.logo img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.grid-transform:before {
  content: "";
  z-index: -1;
  left: -10%;
  top: -10%;
  position: absolute;
  width: 150%;
  height: 120%;
  background: radial-gradient(circle, #02050e 0%, #071324 70%, transparent 100%);
  opacity: 0.5;
}

.card {
  background-color: rgba(7, 19, 36, 0.45);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 242, 254, 0.1);
  box-shadow:
    2px 2px 5px rgba(0, 242, 254, 0.05),
    3px 3px 10px rgba(0, 242, 254, 0.05),
    6px 6px 20px rgba(0, 242, 254, 0.02);
}

.card img, .card svg {
  opacity: 0.7;
  transition: 0.2s;
}

.card:hover {
  box-shadow:
    3px 3px 5px rgba(0, 242, 254, 0.2),
    5px 5px 10px rgba(0, 242, 254, 0.25),
    10px 10px 20px rgba(0, 242, 254, 0.15);
}

.card:hover img, .card:hover svg {
  opacity: 1;
}

.card img, .card svg {
  shape-rendering: geometricPrecision;
}

.card-raised-small {
  border: 1px solid rgba(0, 242, 254, 0.2);
  background-color: rgba(7, 19, 36, 0.7);
  transform: scale(1.05) translateX(-5px) translateY(-5px) translateZ(0);
  animation: text-glow-small 1.5s alternate infinite ease-in-out;
}

.card-raised-big {
  border: 1px solid rgba(0, 242, 254, 0.45);
  background-color: #02050e;
  transform: scale(1.15) translateX(-20px) translateY(-20px) translateZ(15px);
  animation: text-glow 1.5s alternate infinite ease-in-out;
  box-shadow:
    5px 5px 15px rgba(0, 242, 254, 0.3),
    10px 10px 30px rgba(0, 242, 254, 0.2);
}

@keyframes text-glow {
  0% {
    filter: drop-shadow(0px 0px 2px var(--text-glow-start-color, rgba(0, 242, 254, 0.2)));
  }

  100% {
    filter: drop-shadow(0px 1px 8px var(--text-glow-end-color, rgba(0, 242, 254, 0.8)));
  }
}

@keyframes text-glow-small {
  0% {
    filter: drop-shadow(0px 0px 2px rgba(0, 242, 254, 0.1));
  }

  100% {
    filter: drop-shadow(0px 1px 4px rgba(0, 242, 254, 0.4));
  }
}
